<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Type 1 Insights</title>
    <meta name="description" content="Type 1 Insights">
    <meta name="author" content="CaineCode">

    <link href="static/css/main.css" rel="stylesheet">


    <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">


    <!-- favicon -->
    <link href="/static/favicon.ico" rel="icon">

    {% block head %} {% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand mb-0 h1">T1D Insights</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if session.user_id %}
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">  
                <li class="nav-item">
                  <a class="nav-link" href="/">Stats</a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" href="/timeframe">Timeframes</a>
                </li> -->
                <li class="nav-item">
                  <a class="nav-link" href="/diary">Diary</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/log">Log</a>
                </li>
              </ul>
              <ul class="navbar-nav ml-auto mt-2">
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Log Out</a></li>
                </li>
              </ul>
            {% else %}
              <ul class="navbar-nav ml-auto mt-2">
                <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
              </ul>
            {% endif %}
          </div>
        </div>
    </nav>

    <div class="p-5">
      {% block body %} {% endblock %}
    </div>

    <footer class="small text-center text-muted">
      <b>&#169; Type 1 Insights. Created by Kris.</b><br>
    </footer>
  </body>
</html>